---
import Layout from '~/layouts/Layout.astro';
---

<Layout title="スポンサーに関して">
  <main>    
    <h1 class="text-3xl font-bold">BuriKaigi 2024<br class="desktop-hidden"/>スポンサー募集</h1>
    <div class="hero mt-10">
      <img src="/images/sponsors.jpeg" />
    </div>
    <section >
      <p>
        BuriKaigi2024では、イベントにご協力いただける以下のスポンサーを募集しております。
      </p>

      <ul class="list-inside mt-4">
        <li class="list-disc"><a href="#sponsor-type-event">イベントスポンサー</a></li>
        <li class="list-disc"><a href="#sponsor-type-room">ルームスポンサー</a></li>
        <li class="list-disc"><a href="#sponsor-type-novelty">ノベルティスポンサー</a></li>
        <li class="list-disc"><a href="#sponsor-type-buri">鰤しゃぶスポンサー</a></li>
      </ul>

      <h2 class="text-2xl font-bold my-6">BuriKaigiとは</h2>
      <div>
        BuriKaigi は「年に一度、寒ブリの季節にソフトウェア開発・ITにおける各分野で最前線で活躍するエキスパートを全国から北陸へ招待し、技術の旬を持ち寄り、講義・ディスカッションを行う」というコンセプトで実施している勉強会です。
      </div>

      <h2 class="text-2xl font-bold my-6">開催概要</h2>
      <div>
        開催方式: オフライン<br />
        開催日時: 2024年1月20日(土)<br />
        開催場所: 富山駅前周辺<br />  
      </div>

      <h2 class="text-2xl font-bold my-6">主催</h2>
      <div>
        富山合同勉強会グループ及び北陸エンジニアグループにより実施運営され、北陸三県のエンジニアが共同してイベントを開催しています。
      </div>

      <h2 class="text-2xl font-bold my-6">これまでの開催実績</h2>
      <div>
        2015年より開催しております。<br />
        2017年より、BuriKaigiの名前を使用するようになりました。<br />
        詳細は<a href="https://toyama-eng.connpass.com/event/">connpassのイベント一覧</a>を参照ください。<br />
        <br />
        直近のオフラインイベント・オンラインイベントの集客は以下のようになっています。
        <ul class="list-inside mt-4">
          <li class="list-disc">2019年(富山県黒部市宇奈月温泉) 参加者 60人</li>
          <li class="list-disc">2020年(富山県民会館) 参加者90人</li>
          <li class="list-disc">2021年(オンライン) 187人</li>
          <li class="list-disc">2022年(オンライン) 192人</li>  
          <li class="list-disc">2023年(富山県黒部市宇奈月温泉) 78人</li>  
        </ul>
      </div>
    </section>

    <section class="sponsor-type">
      <h2 class="text-2xl font-bold my-6" id="sponsor-type-event">イベントスポンサー</h2>
      <h3 class="text-1xl font-bold mt-4">募集枠</h3>
      <div>2名/社</div>
      <h3 class="text-1xl font-bold mt-4">お願いすること</h3>
      <div>
        サポート費 100,000円
      </div>
      <h3 class="text-1xl font-bold mt-4">BuriKaigi から提供できること</h3>
      <div>
        <ul class="list-inside mt-4">
          <li class="list-disc">スポンサーセッション(1枠)</li>
          <li class="list-disc">ウェブサイトにスポンサー名・ロゴを掲載</li>
          <li class="list-disc">セッション合間の休憩時間中ににロゴ表示(10分間)</li>
          <li class="list-disc">最初の挨拶時にご紹介</li>  
        </ul>
      </div>
    </section>
    <section class="sponsor-type">
      <h2 class="text-2xl font-bold my-6" id="sponsor-type-room">ルームスポンサー</h2>
      <h3 class="text-1xl font-bold mt-4">募集枠</h3>
      <div>3名/社</div>
      <h3 class="text-1xl font-bold mt-4">お願いすること</h3>
      <div>
        サポート費 50,000円
      </div>
      <h3 class="text-1xl font-bold mt-4">BuriKaigi から提供できること</h3>
      <div>
        <ul class="list-inside mt-4">
          <li class="list-disc">スポンサーセッション(1枠)</li>
          <li class="list-disc">ウェブサイトにスポンサー名・ロゴを掲載</li>
          <li class="list-disc">セッション合間の休憩時間中ににロゴ表示(10分間)</li>
          <li class="list-disc">最初の挨拶時にご紹介</li>
        </ul>
      </div>
    </section>
    <section class="sponsor-type">
      <h2 class="text-2xl font-bold my-6" id="sponsor-type-novelty">ノベルティスポンサー</h2>
      <h3 class="text-1xl font-bold mt-4">募集枠</h3>
      <div>10名/社</div>
      <h3 class="text-1xl font-bold mt-4">お願いすること</h3>
      <div>
        サポート費 10,000円
      </div>
      <h3 class="text-1xl font-bold mt-4">BuriKaigi から提供できること</h3>
      <div>
        <ul class="list-inside mt-4">
          <li class="list-disc">休憩時間中にスポンサー名表示</li>
          <li class="list-disc">ご提供いただいた広告チラシ・ノベルティを会場受付時、来場者へお渡しします</li>
          <li class="list-disc">ご提供いただいた広告チラシ・ノベルティを会場に設置します</li>
          <li class="list-disc">ご提供いただいたドリンク・おやつを会場に設置します</li>
        </ul>
      </div>
    </section>
    <section class="sponsor-type">
      <h2 class="text-2xl font-bold my-6" id="sponsor-type-buri">鰤しゃぶスポンサー</h2>
      <h3 class="text-1xl font-bold mt-4">募集枠</h3>
      <div>若干名/社</div>
      <h3 class="text-1xl font-bold mt-4">お願いすること</h3>
      <div>
        <ul class="list-inside mt-4">
          <li class="list-disc">イベント会場費用の一部負担: ご協力できる範囲</li>
          <li class="list-disc">懇親会費用の一部負担: ご協力できる範囲</li>
        </ul>
      </div>
      <h3 class="text-1xl font-bold mt-4">BuriKaigi から提供できること</h3>
      <div>
        <ul class="list-inside mt-4">
          <li class="list-disc">懇親会中のセッションないしはLT(1枠)</li>
        </ul>
      </div>
    </section>
    <section>
      <h2 class="text-2xl font-bold my-6">審査について</h2>
      <div>
        申し訳ございませんが、会場のレギュレーションや本会の趣旨とあわない方、コンプライアンスチェックなどでスポンサーをお断りすることもございます。ご了承ください。
      </div>
    </section>
    <section>
      <h2 class="text-2xl font-bold my-6">イベントの中止について</h2>
      <div>
        昨今の感染症の状況などによるイベントの中止は、実施箇所の自治体のガイドラインに従うこととします。他、自然災害などによって警報などが発表された場合、状況をみて、イベントを中止することがあります。
        これらの際の、スポンサー費用他の支払い戻しについてはご相談ください。        
      </div>
    </section>
    <section>
      <h2 class="text-2xl font-bold my-6">ご協賛いただける方</h2>
      <div>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfClhwv7S7ZlW04wGpmgdx8EHQGVw0kgQSDOrIYghc44s1UIw/viewform?usp=sf_link" class="outer text-blue-500 underline-offset-1	underline" target="_blank" rel="noopener noreferrer">申し込みフォーム</a>からお願いします。<br />
        ※GoogleFormに遷移します。
      </div>
    </section>
    <footer>
      <a href="/" class="button">TOPへ</a>
    </footer>
  </main>
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }

  main {
    margin: auto;
    padding: 2rem 1rem;
    letter-spacing: 0.02rem;
  }

  section {
    margin-bottom: 2rem;
  }

  section.sponsor-type::before {
    content: "";
    width: 100%;
    display: block;
    border: solid 1px #999;
    opacity: 0.5;
  }

  .hero {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .hero img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }

  h1.title {
    text-align: center;
  }

  footer {
    text-align: center;
  }

  @media screen and (min-width: 1024px) {
    main {
      max-width: 768px;
    }

    h1.title {
      text-align: left;
    }

    .desktop-hidden {
      display: none;
    }

  }
</style>
