---
import Layout from '~/layouts/Vanilla.astro';

---

<Layout>
  <div class="min-h-screen bg-gray-900 flex flex-col items-center justify-center relative px-4">
    <h1 class="text-5xl md:text-8xl text-white font-bold mb-8 z-10">BuriKaigi 2025</h1>
    <p class="text-white text-xl md:text-2xl mb-4 z-10">
      富山県立大学出水キャンパス(仮)
    </p>
    <p class="text-white text-xl md:text-2xl mb-10 z-10">
      2025/02/01
    </p>
    <div class="flex space-x-4 mb-6 z-10">
      <a href="https://fortee.jp/burikaigi-2025/speaker/proposal/cfp" class="border-2 border-gray-800 text-black font-bold py-3 px-6 rounded dark:text-white dark:border-white hover:opacity-50 transition">
        登壇ご希望の方
      </a>
      <a href="https://fortee.jp/burikaigi-2025/sponsor/form" class="bg-gray-800 hover:bg-gray-700 text-white font-bold py-3 px-6 rounded dark:bg-gray-700 dark:hover:bg-gray-600 hover:opacity-50 transition">
        スポンサーのご協力
      </a>
    </div>
    <div class="flex space-x-4 text-white mb-6 z-10">
      ※イベントの公開までもう少しお待ちください。
    </div>
    <div class="text-white z-10 underline underline-offset-4 hover:opacity-50 transition">
      <a href="/2024">昨年の様子はこちら</a>
    </div>
    <div class="absolute top-0 left-0 w-full h-full bg-cover bg-center opacity-30"
      style="background-image: url('/images/6ee144801b1e5221410445f7e824b669.png');">
    </div>
  </div>
</Layout>
