---
import Layout from '../layouts/Vanilla.astro';
import { Header } from '../components/Header'
import { Hero } from '../components/Hero'
import { Newsletter } from '../components/Newsletter'
import { Schedule } from '../components/Schedule'
import { Speakers } from '../components/Speakers.tsx'
import { Sponsors } from '../components/Sponsors'

const allSpeakers = await Astro.glob('./speakers/*.md');
const speakers: any[] = allSpeakers.map(speaker => ({
  ...speaker.frontmatter,
  url: speaker.url
}))

---

<Layout>
  <Header />
  <main class="flex-auto">
    <Hero />
    <Speakers speakers={speakers} />
    <Schedule />
    <Sponsors />
    <Newsletter />
  </main>
</Layout>
