---
import Layout from '~/layouts/Vanilla.astro';
import { Sponsors } from '~/components/2025/Sponsors'

const allSponsors = await Astro.glob('./2025/sponsors/*.md');
const sponsors: any[] = allSponsors.map(sponsor => ({
  ...sponsor.frontmatter,
  url: sponsor.url
}))

const buriSponsors = sponsors.filter(v => v.type === "Buri")
const gandoSponsors = sponsors.filter(v => v.type === "Gando")
const fukuragiSponsors = sponsors.filter(v => v.type === "Fukuragi")
const sponsorshipSponsors = sponsors.filter(v => v.type === "後援")
// const noveltySponsors = sponsors.filter(v => v.type === "ノベルティ")
// const sponsorship = sponsors.filter(v => v.type === "後援")
// sponsorship[0].className = "col-start-2"

---

<Layout>
  <div class="bg-gray-900 flex flex-col items-center justify-center relative px-4 py-60">
    <h1 class="text-5xl md:text-8xl text-white font-bold mb-8 z-10">BuriKaigi 2026</h1>
    <p class="text-white text-xl md:text-2xl mb-5 z-10">
      2026.1.9(Fri) - 1.10(Sat)
    </p>
    <p class="text-white text-xl md:text-2xl mb-10 z-10">
      富山国際会議場
    </p>
    <div class="flex space-x-4 mb-6 z-10 flex-col text-white gap-y-10">
      <h2 class="font-bold text-4xl ml-4">BuriKaigi 2026、始動。</h2>
      <div>
        来年開催予定の <strong>BuriKaigi 2026</strong> に向けて、準備がスタートしました。<br>
      </div>
      <div>
        2025-09-09ごろより <strong>スポンサー募集が始まりました。（締切：11月中を予定）</strong><br/>
        <a href="https://fortee.jp/burikaigi-2026/sponsor/brochure-request" target="_blank" rel="noopener noreferrer" class="text-white z-10 underline underline-offset-4 hover:opacity-50 transition">
        詳細などこちらから確認しご応募
        </a>
        よろしくお願いいたします。<br/>
        ※
        リンク先は「資料請求フォーム」となっていますが、資料請求は必須ではございません。
        <br/>
        文中にある資料をご確認の上、
        <a href="https://fortee.jp/burikaigi-2026/sponsor/form" target="_blank" rel="noopener noreferrer" class="text-white z-10 underline underline-offset-4 hover:opacity-50 transition">
          申し込みフォーム
        </a>
        からお申し込みください。
      </div>
      <div>
        2025-09-23 <strong>プロポーザル募集（登壇募集）が始まりました。（締切：2025-10-27 23:59 JST予定）</strong><br/>
        <a href="https://fortee.jp/burikaigi-2026/speaker/proposal/cfp" target="_blank" rel="noopener noreferrer" class="text-white z-10 underline underline-offset-4 hover:opacity-50 transition">
          詳細などこちらから確認し応募
        </a>
        をお願いします。よろしくお願いします。
      </div>
      <div>
        公式な最新情報は <a href="https://x.com/burikaigi" target="_blank" rel="noopener noreferrer">X（旧Twitter）の @burikaigi</a> にて順次お知らせします。
      </div>
    </div>
    <div class="text-white z-10 underline underline-offset-4 hover:opacity-50 transition mb-4">
      <a href="https://fortee.jp/burikaigi-2025/timetable">2025年の様子はこちら(fortee)</a>
    </div>
    <div class="text-white z-10 underline underline-offset-4 hover:opacity-50 transition">
      <a href="/2024">2024年の様子はこちら</a>
    </div>
    <div class="absolute top-0 left-0 w-full h-full bg-cover bg-center opacity-30"
      style="background-image: url('/images/6ee144801b1e5221410445f7e824b669.png');">
    </div>
  </div>
</Layout>
