---
interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3ENE2XQ27C"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-3ENE2XQ27C');
    </script>
    <meta charset="UTF-8" />
    <meta name="description" content="寒ブリとIT技術者のマリアージュ">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <head prefix="og: https://ogp.me/ns#">
    <meta property="og:url" content="https://burikaigi.dev" />
    <meta property="og:title" content="BuriKaigi" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="寒ブリとIT技術者のマリアージュ" />
    <meta property="og:site_name" content="BuriKaigi" />
    <meta property="og:image" content="https://burikaigi.dev/images/ogp.png" />
    <title>BuriKaigi 2024 | {title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <slot />
  </body>
</html>
